.chapter-h-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.chapter-h-ctn * {
  max-width: 100%;
}

.chapter-h-ctn h2 {
  padding-bottom: var(--small-space);
}

.chapter-h-ctn .chapter-author {
  font-size: 0.87rem;
  text-align: center;
}

.chapter-h-ctn .chapter-content {
  padding: var(--standard-space) var(--large-space);
  font-size: 0.9rem;
}

.edit-icons-ctn {
  position: fixed;
  bottom: var(--standard-space);
  display: flex;
  gap: var(--large-space);
}

.form-group.edit {
  width: 100%;
  padding-inline: var(--large-space);
}

.form-group.edit label {
  color: var(--black);
}

.form-group.edit input,
.form-group.edit textarea {
  background-color: #e4e4e4;
  border: 1px solid var(--white-grey);
}

.form-buttons .cancel.edit {
  background-color: var(--white-grey);
  color: var(--light-black);
  border: 2px solid #d2d2d2;
}

.form-buttons .cancel.edit:hover {
  box-shadow: 0 5px 15px var(--white-grey);
}

.material-symbols-outlined.arrow {
  position: fixed;
  bottom: var(--standard-space);
  left: 3rem;
  background-color: var(--dark-green);
  border: 2px solid var(--transparent-blue);
  border-radius: 20px;
}

.material-symbols-outlined.edit,
.material-symbols-outlined.delete {
  font-size: 1.3rem;
}

@media screen and (min-width: 900px) {
  .form-buttons.edit {
    gap: 5rem;
  }
}
