:root {
  --main-color: #25282e;
  --accent-color: #99a2ea;
  --accent-color-dark: #3f628e;

  --transparent-blue: #667eea4d;
  --blue: #b1e9ff;
  --dark-green: #2f6e5f;

  --light-blue: #c7dce3;
  --white-grey: #c2c2c2;
  --old-white: #e3dbd6;
  --black: #070707;
  --light-black: #1e2228;

  --standard-space: 2rem;
  --small-space: 1rem;

  --petal-radius: 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
}

header {
  width: 100vw;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: var(--small-space);
  padding-top: 5rem;
  padding-bottom: var(--standard-space);
}

.logo-ctn {
  position: relative;
  width: max-content;
}

.logo-img {
  position: absolute;
  top: -50px;
  left: -100px;
  max-height: 6rem;
}

h1 {
  font-family: "Bilbo Swash Caps";
  color: var(--light-blue);
}

main {
  width: 80%;
  min-width: 16.5rem;
  height: auto;
  min-height: 100vh;
  background-color: var(--old-white);
}

.main-h-ctn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-block: var(--standard-space);
}

#add-button {
  position: fixed;
  bottom: var(--standard-space);
  background-color: var(--accent-color);
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
  border-radius: var(--petal-radius);
  border: 1px solid #b9b9b9;
  box-shadow: 2px 1px 7px #929292;
  transition: text-shadow 0.3s ease, transform 0.5s ease;
  text-shadow: none;
  cursor: pointer;
}

#add-button:hover {
  text-shadow: 0.5px 0.5px 5px var(--light-blue),
    -0.7px -0.7px 5px var(--light-blue);
}

#chapters-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  max-width: 100%;
  gap: var(--standard-space);
}

.chapter-card {
  width: 60%;
  cursor: pointer;
}

.chapter-card:hover * {
  color: var(--accent-color-dark);
}

.chapter-card h3 {
  font-size: 1.09rem;
}

.chapter-card .chapter-author {
  font-size: 0.7rem;
  margin-block: 0.05rem 0.3rem;
}

.chapter-author,
.timestamp {
  font-style: italic;
}

.timestamp {
  margin-left: 0.3rem;
  font-size: 0.59rem;
}

@media screen and (min-width: 900px) {
  main {
    width: 50%;
  }

  .main-h-ctn {
    position: relative;
  }

  #add-button {
    position: absolute;
    bottom: unset;
    top: var(--small-space);
    right: var(--small-space);
  }
}
