:root {
  --main-color: #25282e;
  --accent-color: #99a2ea;
  --light-blue: #c7dce3;
  --white-grey: #d9d9d9;
  --old-white: #e3dbd6;
  --black: #070707;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main-color);
}

header {
  width: 100vw;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.logo-ctn {
  position: relative;
  width: max-content;
}

.logo-img {
  position: absolute;
  top: -50px;
  left: -100px;
  max-height: 6rem;
}

h1 {
  color: var(--light-blue);
}

main {
  width: 50%;
  min-width: 16.5rem;
  height: auto;
  min-height: 100vh;
  background-color: var(--old-white);
}
